@font-face{
    font-family: 'Lemon';
    src: url('font/LEMONMILK-Medium.otf') format("opentype");
}
@font-face{
    font-family: 'Helvetica Neue';
    src: url('font/HelveticaNeue\ Light.ttf');
}

    
*{
    margin: 0px;
    padding: 0px;
    font-family:'Lemon'
}
header{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
#Marina{
    font-size: 20pt;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul{
    color: white;
}
ul li a{
    color: rgb(255, 247, 247);
    letter-spacing: 0.1rem;
}
.menu li{
    padding: 23px;;
    
}
.menu li a{
    text-decoration: none;
}
form{
    padding: 23px;
    text-align: right;
}
input{
    border-radius: 10px;
    border-width: 0px;
}
p{
    font-family: 'Hevetica Neue';
    line-height: 1.25;
}
.images{
    width: 73%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
.video{
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
.coté{
    width: 85%;
}
.coté2{
    width: 85%;
    justify-self: right;
    
}
.perf1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.perf2{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: right;
}
#Performances{
    margin-top: 50px;
    margin-bottom: 50px;
}
hr{
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-width: 1,5px;
}
.type{
    margin-bottom: 5px;
}
h2{
    margin-bottom: 18px;
}








footer{
    background-color: black;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.menu-bas li a{
    text-decoration: none;
}
.logo{
    height: 30px;
    object-fit: cover;
}
li{
    align-items: center;
    vertical-align:text-bottom;
}




@media screen and (max-width:1500px) {
    .biographie{
        width: 90%;
    }
}
@media screen and (max-width:1000px) {
    .images{
        width: 60%;
    }
}
@media screen and (max-width:1113px) {
    header{
        width: 700px
    }
}
@media screen and (max-width:1113px) {
    .video{
         
    }
}
